/* （1）页面主体设置 */
body {
    width: 1200px;
    margin: 0 auto;
}

/* （2）设置table部分为合并边框，宽度1000px，左右居中 */
table {
    width: 1000px;
    margin: 0 auto;
    border-collapse: collapse; /* 合并边框 */
}

/* （3）表格列td的内边距是5px */
td {
    padding: 5px;
}

/* （4）设置id为intr部分 */
#intr {
    font-family: "华文新魏", sans-serif; /* 确保字体名称正确，如果该字体不可用，将使用sans-serif */
    font-size: 20px;
    padding: 10px;
}